<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App</title>
    <link href = "/static/delivering.css" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
  </head>
<body>
    <h1>Delivering Your Order</h1>
    <p>Cannot edit it</p>
    <p>Your driver ID is <strong>{{ driverID }}</strong></p>

    <form action="/user_orders">
        <button type="submit">RETURN</button>
    </form>


</body>
</html>